	        <div class="content" >
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="card" style="background-color:rgba(39,39,43,0.9)">
	                            <div class="card-header" data-background-color="green">
	                                <h4 class="title">Kashiyatra CA Leader Board</h4>
	                                <p class="category">See your rank among all CAs of KY</p>
	                            </div>
	                            <div class="card-content table-responsive">
            <table class="table table-inverse" style="background-color: whitesmoke">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Name</th>
                  <th>College</th>
                  <th>Points</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of userData; let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{user.name}}</td>
                  <td>{{user.college}}</td>
                  <td>{{user.total_points}}</td>
                </tr>
              </tbody>
            </table>

	                            </div>
	                        </div>
	                    </div>

	                </div>
	            </div>
	        </div>
