	        <div class="content" >
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="card" style="background-color:rgba(39,39,43,0.9)">
	                            <div class="card-header" data-background-color="green">
	                                <h4 class="title">Kashiyatra CA Leader Board</h4>
	                                <p class="category">See your rank among all CAs of KY</p>
	                            </div>
	                            <div class="card-content table-responsive">
	                                <table class="table">
										<h4 style="color:bisque">Coming Soon!</h4>
	                                </table>

	                            </div>
	                        </div>
	                    </div>

	                </div>
	            </div>
	        </div>
