<div class="sidebar" data-color="purple" style="overflow:scroll;background-color:rgba(13,13,14,0.85)" >
  <div class="logo">
        <img src="{{profile_picture}}" alt="Smiley face" class="" height="200" width="200"> <br>
        <h6 class="simple-text" style="color:bisque; font-family:cursive;">
          CA ID: {{ca_id}}
        </h6>
      </div>
        <div class="sidebar-wrapper">
              <ul class="nav">
                  <li>
                      <a routerLink="dashboard" routerLinkActive="active">
                          <i class="material-icons">dashboard</i>
                          <p style="color:aliceblue">Dashboard</p>
                      </a>
                  </li>
                  <li>
                    <a routerLink="dashboard/ca-profile" routerLinkActive="active">
                        <i class="material-icons">person</i>
                        <p style="color:aliceblue">User Profile</p>
                    </a>
                  </li>
                  <li>
                    <a routerLink="dashboard/tasks" routerLinkActive="active">
                          <i class="material-icons">content_paste</i>
                          <p style="color:aliceblue">Public Relations</p>
                    </a>
                  </li>
                  <li>
                    <a routerLink="dashboard/leaderboard" routerLinkActive="active">
                      <i class="material-icons">content_paste</i>
                      <p style="color:aliceblue">Leader Board</p>
                    </a>
                  </li>
                  <li>
                    <a href="/logout">
                      <i class="fa fa-sign-out"></i>
                      <p style="color:aliceblue">Logout</p>
                    </a>
                  </li>
              </ul>
        </div>
      </div>