@font-face {
	font-family:'FontAwesome';
	src:url('Fonts/FontAwesome.otf')format('opentype');
}
@font-face {
    font-family: Poppins-Bold;
    font-weight: 700;
    src: url('Fonts/Poppins/Poppins-Bold.ttf')format('truetype');
}
@font-face {
    font-family: Poppins-Light;
    font-weight: normal;
    src: url('Fonts/Poppins/Poppins-Light.ttf')format('truetype');
}
@font-face {
    font-family: Poppins-SemiBold;
    font-weight: normal;
    src: url('Fonts/Poppins/Poppins-SemiBold.ttf')format('truetype');
}
@font-face {
    font-family: Poppins-Medium;
    font-weight: normal;
    src: url('Fonts/Poppins/Poppins-Medium.ttf')format('truetype');
}
@font-face {
    font-family: Poppins-Regular;
    font-weight: normal;
    src: url('Fonts/Poppins/Poppins-Regular.ttf')format('truetype');
}

@font-face {
    font-family: SourceSansPro-Bold;
    font-weight: 700;
    src: url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700);
}
@font-face {
    font-family: SourceSansPro-ExtraLight;
    font-weight: normal;
    src: url('Fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf')format('truetype');
}
@font-face {
    font-family: SourceSansPro-Light;
    font-weight: normal;
    src: url('Fonts/SourceSansPro/SourceSansPro-Light.ttf')format('truetype');
}
@font-face {
    font-family: SourceSansPro-SemiBold;
    font-weight: normal;
    src: url('Fonts/SourceSansPro/SourceSansPro-Semibold.ttf')format('truetype');
}
@font-face {
    font-family: SourceSansPro-Black;
    font-weight: normal;
    src: url('Fonts/SourceSansPro/SourceSansPro-Black.ttf')format('truetype');
}

@font-face {
    font-family: SourceSansPro-Regular;
    font-weight: normal;
    src: url('Fonts/SourceSansPro/SourceSansPro-Regular.ttf')format('truetype');
}
@font-face {
	font-family:'Stencil';
	src:url('Fonts/Stencil.otf')format('opentype');
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row{
	width: 100%;
}

* {
    box-sizing: border-box;
	margin: 0;
	padding: 0; 
}

.floatRight{
	float: right !Important;
}

[class*="col-"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

header, body{
	font-family: SourceSansPro-Regular;
	background-color: white;
	overflow-x: hidden;
	width: 100vw;
	overflow-y: scroll;
}
h1, h2, h3, h4, p{
	line-height: 100%;
	font-weight: normal;
}

.Footer h2{
	font-size: 20pt;
	text-align: center;
}
#sk-holder #sk-container #sk-conversation .sk-logo {
    padding-bottom: 10px;
    margin-left: calc(50% - 83px);
    display: none;
}

