
@font-face {
   font-family: myFont;
   src:url("/static/main/HARRP___.TTF");
}

.bgimg {
    background-image: url('/static/main/images/bg-min.jpg');
    height: 100%;
    background-position: center;
        background-repeat: no-repeat;

    background-size: cover;
    position: relative;
    color: white;
    font-family: myFont, Courier, monospace;
    font-size: 40px;
}

.txt {
  font-size: 14px;
  line-height: 1.45;
}

.type-1 a:hover {
  padding-left: 48px;
  padding-right: 28px;
}
.type-1 a:hover .round {
  width: calc(100% - 6px);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.type-1 a:hover .round i {
  left: 12%;
}
img {
    max-width: 100%;
    max-height: 100%;
}
@media (max-width: 700px){
.logo{width: 20%;}
.iit{width: 50%}
.header{width: 100%; margin-top: 10%; height: 200px;}
.link{margin-top: 10%}
}

