body, html {
    height: 100%;
    margin: 0;
}

@font-face {
   font-family: myFont;
   src:url("/static/main/HARRP___.TTF");
}

.bgimg {
    background-image: url('/static/main/images/bg.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: myFont, Courier, monospace;
    font-size: 40px;
}

.yellow {
    color: #ff9c00;
}

img {
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}