<div class="content" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6"  style="margin:auto">

      </div>
    </div>
  </div>
</div>
<div class="alert alert-success" style="display: none;">
  <a class="close" >&times;</a>
  <strong>Success!</strong> Indicates a successful or positive action.
</div>

 <div class= "card m-b-0" *ngIf="!if_canceled" style="margin:4%;width:90%">
            <div class="card-header collapsed" style="margin:3%" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <a class="card-title" >
                    <p style="color:whitesmoke;margin:auto;font-size:20px;cursor:pointer;">Click to see your registration</p>
                </a>
            </div>
            <div id="collapseOne" class="card-block collapse" style="margin:4%">
            <table class="table table-inverse" style="background-color: whitesmoke">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Team ID</th>
                  <th>Event</th>
                  <th>Team name</th>
                  <th>Members</th>
               
                  <th>Cancel</th>
              
             
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pr of previous_reg; let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{pr.teamId}}</td>
                  <td>{{eventName(pr.event)}}</td>
                  <td>{{pr.teamName}}</td>
                  <td>
                  <div *ngFor="let member of pr.members">
                    {{member.ky_id}}
                  </div>
                  </td>
                  <div *ngIf="pr.teamLeader['ky_id']==ky_id">
              <!--     instead of 3 ky_id -->
                  <td>
                     <button type="submit" class="btn btn-default" (click)="cancelRegister(pr.teamId)"    name="cancel">Delete team</button>
                  </td>
                  </div>

                   <div *ngIf="!pr.teamLeader['ky_id']==ky_id">
              <!--     instead of 3 ky_id -->
                  <td>
                     Only Teamleader can delete it!
                  </td>
                  </div>
         
                </tr>
              </tbody>
            </table>
            </div>




        </div>
<div class="card m-b-0" *ngIf="if_canceled">
  <div class="card-header collapsed" style="margin:3%" data-toggle="collapse">
                
                    <p style="color:whitesmoke;margin:auto;font-size:20px;cursor:pointer;">Are you sure?</p>
               
            </div>
  <div  style="margin:4%">
  <table class="table table-inverse" style="background-color: whitesmoke">
              <thead>
                <tr>
                  <th><button type="submit" class="btn btn-default" (click)="yesButton()"    name="cancel">yes</button></th>
                  <th><button type="submit" class="btn btn-default" (click)="cancelButton()"    name="cancel">cancel</button></th>
         
             
                </tr>
              </thead>
              </table>
              </div>


 </div>