<!DOCTYPE html>
<html lang="en">
<head>
  
  <title></title>
  <meta name="description" content="Kashiyatra Campus Ambassador">
  <link rel="stylesheet" href="../static/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Exo:400,600,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
</head>
<body>

<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
  <a class="device-notification--logo" href="#0">
    <img src="../static/img/kyl.png" alt="">
    <p></p>
  </a>
  <p class="device-notification--message">Kashiyatra has so much to offer that we must request you orient your device to portrait or find a larger screen. You won't be disappointed.</p>
</div>

<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="#0">
            <img src="../static/img/kyl.png" class='logo' alt="Global" style="width:60px">
            <p></p>
          </a>
         <!-- <button class="header--cta cta">REGISTER</button>-->
         <!-- <div class="header--nav-toggle">
            <span></span>
          </div>-->
        </header>
        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>Home</span></li>
      <li><span>About us</span></li>
            <li><span>Being a CA</span></li>
      <li><span>Responsibilities</span></li>
            <li><span>Perks</span></li>
            <li><span>T&C </span></li>
      <li><span>Contact Us</span></li>
          </ul>
        </nav>
        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active" style="background-image:url(../static/img/cap1.jpg);  background-repeat: no-repeat;
      background-size:1450px;background-position:center;background-attachment:fixed;" >
            <div class="intro">
              <div class="intro--banner">
                <h1 style="font-family: 'Exo', sans-serif;">Kashiyatra</h1>
        <h2></h2>
                 <a href="/accounts/facebook/login/" style="color:white;"><button>Facebook
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                  <span class="btn-background"></span>
                </button></a>
<br><br>
      <a href="/accounts/google/login" style="color:white;"><button>google
                   <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                     <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                   </g>
                   </svg>
                   <span class="btn-background"></span>
                 </button></a>
                
              </div>
              <div class="intro--options">
               
              </div>
            </div>
          </li>
      
       <li class="l-section section"  style="background-image:url(../static/img/gala.jpg);  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;background-size:100%;z-index:-1; background-size:1450px;
    ">
            <div class="about" >
              <div class="about--banner" ">
                <h2 style="font-family: 'Exo', sans-serif;">About us</h2>
                <!--<img src="assets/img/about-visual.png" alt="About Us">-->
        <div class="about--optionstc" style="opacity:1;">
         
                <p style="font-family: 'Play', sans-serif;font-size:17px;" id="one">Kashiyatra, the Annual Socio-Cultural festival of IIT (BHU), Varanasi is an enchanting blend of various events of music, dance, fine arts, fashion, literature, theatre and quiz moulded into a three-day fiesta of monumental proportions. Being North India’s biggest cultural festival, year after year it flaunts a higher participation with the count being more than 300 colleges last year and an ever growing fan base.
Kashiyatra not only offers a perfect platform for those who wish to stage their talent and art nurtured in them, but also is known for its most sought after pronites. The pronites have created their own brand by the performances of leading artists like Sachin-Jigar & Nikhil D'souza, EDM by Sunburn, Anish Sood & VH1 Supersonic and famous bands like The Local Train, Euphoria, Tiny Fingers, Demonic Resurrection & Coke Studio raising the expectations of Kashiyatra to a new level with every edition.
<br>The city "Varanasi", which hosts the grandeur of this fest is another invaluable gem studded in the jewel of Kashiyatra and is a major element which pulls the crowd towards itself by its heritage, spirituality, cuisine and hospitality.</p>
              <p style="font-family: 'Play', sans-serif;font-size:17px;" id="two">Kashiyatra, the Annual Socio-Cultural festival of IIT (BHU), Varanasi is an enchanting blend of various events (music, dance, fine arts, fashion, literature, theatre, quiz) & concerts moulded into a three-day fiesta of monumental proportions. Being North India’s biggest cultural festival, year after year it flaunts a higher participation with the count being 300+ colleges and a footfall of 60,000+ in the previous edition of Kashiyatra.</p>
        </div>
              </div>
              
            </div>
          </li>
      
      
          <li class="l-section section"  style="background-image:url(../static/img/gala.jpg);  background-attachment: fixed;
    background-position: center;background-size:100%; background-size:1450px;">
            <div class="work">
              <h2 style="font-family: 'Exo', sans-serif;font-size:34px;">Why become a CA?</h2>
              <div class="work--lockup">
                <ul class="slider">
                  <li class="slider--item slider--item-left">
                    <a href="#0">
                      <div class="slider--item-image" style="background-image:url(../static/img/reward.jpg); background-size:397px;background-position:center">
                        
                      </div>
                      <p class="slider--item-title" style="font-family: 'Play', sans-serif;">Rewards</p>
                      <p class="slider--item-description" style="font-family: 'Play', sans-serif;font-size:medium;">Win exciting goodies and certificate of appreciation from IIT(BHU),Varanasi</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-center">
                    <a href="#0">
                      <div class="slider--item-image" style="background-image:url(../static/img/back.jpg); background-size:320px;background-position:center;background-repeat:none">
                       
                      </div>
                      <p class="slider--item-title" style="font-family: 'Play', sans-serif;">Face of KY</p>
                      <p class="slider--item-description" style="font-family: 'Play', sans-serif;font-size:medium;">Be an Integral part of KY & get first hand information about events</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-right">
                    <a href="#0">
                      <div class="slider--item-image">
                        <img src="../static/img/famous.jpg" alt="Get Famous">
                      </div>
                      <p class="slider--item-title" style="font-family: 'Play', sans-serif;">Get Famous</p>
                      <p class="slider--item-description" style="font-family: 'Play', sans-serif;font-size:medium;">Expand your skill set and get famous in your college and city </p>
                    </a>
                  </li>
                </ul>
                <div class="slider--prev">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"/>
                  </g>
                  </svg>
                </div>
                <div class="slider--next">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                </div>
              </div>
            </div>
          </li>
      
             

           <li class="l-section section"  style="background-image:url(../static/img/gala.jpg);  background-attachment: fixed;
    background-position: center;background-size:100%; background-size:1450px;">
            <div class="about">
              <div class="about--banner">
                <h2 style="font-family: 'Exo', sans-serif;margin-bottom:0px;font-size:xx-large;">Responsibilities</h2>
                <!--<img src="assets/img/about-visual.png" alt="About Us">-->
        <div class="responsibilities" id="respo_desk">
                <div class="one">
        <div class="onec" style="font-family: 'Play', sans-serif;">
        Assist Team KY in organising workshops and promotional events in your college/city.
        </div>
        <div class="oner" style="background-image:url(../static/img/assist.jpg);background-size:150px" >
        
        </div>
        
              </div>
        
         <div class="two">
        <div class="oner" style="background-image:url(../static/img/people.jpg);background-size:160px;background-repeat:none;background-position:center;">
        </div> 
        <div class="onec" style="font-family: 'Play', sans-serif;">
         Get your people to participate in Kashiyatra and win amazing prizes and glory.
        </div>
        
              </div>
        
         <div class="three">
        <div class="onec" style="font-family: 'Play', sans-serif;">
        Publicize about Kashiyatra and increase its reach through various social media platforms.
        </div>
        <div class="oner" style="background-image:url(../static/img/social.jpg);background-size:165px;background-position:center;">
        
        </div>
        
              </div>
        
         <div class="four">
        <div class="oner" style="background-image:url(../static/img/pub.jpg);background-size:180px;background-position:center;">
        </div>
        <div class="onec" style="font-family: 'Play', sans-serif;">
        Spread Kashiyatra and it's events among your people.
        </div>
        
              </div>
        
              </div>
        <div id="respo_mob">
        <div class="respo1">
        <div class="respo_cir1"  style="background-image:url(../static/img/assist.jpg);background-size:120px"></div>
        <div class="respo_text1"><div class='text'>Assist Team KY for promotions</div></div>
        </div>
        <div class="respo1">
        <div class="respo_text1"><div class='text'>Spread KY among people</div></div>
        <div class="respo_cir1"  style="background-image:url(../static/img/pub.jpg);background-size:120px"></div>
        </div>
        <div class="respo1">
        <div class="respo_cir1"  style="background-image:url(../static/img/social.jpg);background-size:120px"></div>
        <div class="respo_text1"><div class='text'>Publicize KY through social media</div></div>
        </div>
        <div class="respo1">
        <div class="respo_text1"><div class='text'>Get your people participate in KY</div></div>
        <div class="respo_cir1"  style="background-image:url(../static/img/people.jpg);background-size:120px"></div>
        </div>
                  
       <!--  <ol id="tc">
        <li >Assist Team KY</li>
        <li >Spread KY among people</li>
        <li >Publicize KY through social media</li>
        <li>Get your people participate in KY</li>
        </ol>-->
        </div>
        
        
        
              
            </div>
      
      </div>

          </li>
      
         
          <li class="l-section section"  style="background-image:url(../static/img/gala.jpg);  background-attachment: fixed;
    background-position: center;background-size:100%; background-size:1450px;">
            <div class="hire"><br>
              <h2 style="font-family: 'Exo', sans-serif;">Brownie Points</h2>
              <!-- checkout formspree.io for easy form setup -->
              <form class="work-request">
                <div class="work-request--options">
                  <span class="options-a">
                    <input id="opt-1" type="checkbox" value="app design">
                    <label for="opt-1" style="background-image:url(../static/img/premium.jpg); background-size:150px 150px;">
                    
                      <div class="bp"><div id='desk'>Premium Access</div><div id='mob'>Premium Access</div></div>
                    </label>
                    <input id="opt-2" type="checkbox" value="graphic design">
                    <label for="opt-2" style="background-image:url(../static/img/offc-merch.jpg);background-size:150px 150px;">
                      <div class="bp"><div id='desk'>Official Merchandise</div><div id='mob'>Official Merch-andise</div></div>
                    </label>
                    <input id="opt-3" type="checkbox" value="motion design">
                    <label for="opt-3" style="background-image:url(../static/img/free-acc.jpg);background-size:150px 150px;">
                      <div class="bp"><div id='desk'>Free Accomodation</div><div id='mob'>Free Accomo-dation</div></div>
                    </label>
          
          <input id="opt-4" type="checkbox" value="motion design">
                    <label for="opt-4" style="background-image:url(../static/img/other.jpg);background-size:150px 150px;">
                      <div class="bp">Exciting Prizes</div>
                    </label>
          
                  </span>
                  <span class="options-b">
                    <input id="opt-5" type="checkbox" value="ux design">
                    <label for="opt-5" style="background-image:url(../static/img/selfie-stick.jpg);background-size:150px 150px;">
                      <div class="bp">Selfie with Celebrities</div>
                    </label>
                    <input id="opt-6"  type="checkbox" value="webdesign">
                    <label for="opt-6" style="background-image:url(../static/img/coupon.jpg);background-size:150px 150px;">
                      <div class="bp">Cashback Coupons</div>
                    </label>
                    <input id="opt-7" type="checkbox" value="marketing">
                    <label for="opt-7" style="background-image:url(../static/img/travel.jpg);background-size:150px 150px;">
                      <div class="bp"><div id='desk'>Travel reimbursement</div><div id='mob'>Travel reim-bursement</div></div>
                    </label>

                  </span>
          
          
          
          
                </div>
                <!--<div class="work-request--information">
                  <div class="information-name">
                    <input id="name" type="text" spellcheck="false">
                    <label for="name">Name</label>
                  </div>
                  <div class="information-email">
                    <input id="email" type="email" spellcheck="false">
                    <label for="email">Email</label>
                  </div>
                </div>
                <input type="submit" value="Send Request">
              </form>
            </div>-->
          </li>
        <li class="l-section section"  style="background-image:url(../static/img/gala.jpg);  background-attachment: fixed;
    background-position: center;background-size:100%; background-size:1450px;">
            <div class="about">
              <div class="about--banner">
                <h2 style="font-family: 'Exo', sans-serif;">Terms & Conditions</h2>
                <!--<img src="assets/img/about-visual.png" alt="About Us">-->
        <div class="about--optionstc">
                <ol id="tc">
        <li >The Certificate of Appreciation will be given only if he/she is deemed fit based on his/her representation as a CA by the organisers.</li>
        <li >Any change in the policies before and after registration will be under the sole discretion of the Team KY. However, the changes will be notified on your dashboards.</li>
        <li >Only those shares​ which are from the CA portal will be counted and points are rewarded accordingly. Also, shares must be made public under the privacy section.
        Multiple shares will result in disqualification of the person as a Campus Ambassador.</li>
        </ol>

              </div>
              </div>
              
            </div>
          </li>

          <li class="l-section section">
            <div class="contact" style="background-image:url(../static/img/maps.png);">
              <div class="contact--lockup">
                <div class="modal">
                  <div class="modal--information">
                    <p>IIT (BHU) Varanasi,U.P 221005</p>
          
          <div id="kalpesh">
          <h3>KALPESH</h3>
          <a href="mailto:kalpesh@Kashiyatra.org">kalpesh@Kashiyatra.org</a>
                    <a href="tel:+917233013288">+917233013288</a>
          </div>
          <div id="sanprit">
          <h3>SANPRIT</h3>
                    <a href="mailto:sanprit@Kashiyatra.org">sanprit@Kashiyatra.org</a>
                    <a href="tel:+918090975639">+918090975639</a>
          </div>
          <div>
          <div id="deepesh" >
          <h3>DEEPESH</h3>
          <a href="mailto:deepesh@Kashiyatra.org">deepesh@Kashiyatra.org</a>
                    <a href="tel:+919680402350">+919680402350</a>
          </div>
          <div id="sumanth">
          <h3>SUMANTH</h3>
          <a href="mailto:sumanth@Kashiyatra.org">sumanth@Kashiyatra.org</a>
                    <a href="tel:+919493690659">+919493690659</a>
          </div>
                  </div>
          </div>
                  <ul class="modal--options">
                    <!--<li><a href="#0">twitter</a></li>
                    <li><a href="#0">Instagram</a></li>-->
                    <li><a href="https://facebook.com/kashiyatra.IITBHU/" target="_blank">Facebook</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <!--<ul class="outer-nav">
    <li class="is-active">Home</li>
    <li>Being a CA</li>
    <li>Guidelines</li>
    <li>Brownie Points</li>
    <li>T&C</li>
  <li>Contact us<li>
  </ul>-->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-2.2.4.min.js"><\/script>')</script>
<script src="../static/js/functions-min.js"></script>

</body>
</html>