<div class="content">
    <div class="container-fluid">
        <div class="card" style="background-color:rgba(39,39,43,0.9)">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Guidlines for KY CAs</h4>
		</div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <p><a href="#">Leaderboard: It displays the top 20 leading CAs and their points, among all the CAs across India. Bonus points will be awarded to those CAs who do exceptional work.</a></p>
                        </div>
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <p><a href="#">Top 5 CAs according to the leaderboard and their work will be awarded with grand prizes worth Lakhs.</a></p>
                        </div>
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <p><a href="#">Each shared post from the KY Campus Ambassador Portal will contribute 3 points to your score.</a></p>
                        </div>
                        <div class="alert alert-info alert-with-icon" data-notify="container">
                            <p><a href="#">Each new registration from your CA ID will fetch you 5 points and each payment done by them will award you with 20 extra points.</a></p>
                        </div>
                        .
                    </div>

                </div>

                <br>
                <br>


            </div>
        </div>
    </div>
</div>